<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
   <!--  google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
   <!--  font amesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
  <!--   styles sheet -->
    <link rel="stylesheet" href="/css/stylos.css">
</head>
<body>
    
    <header>
        <div><img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo ML" ></div>
        <div class=" search-bar">
            <input type="search" placeholder="Buscar productos, marcas" >      
        </div>
            <button class="margin-left-15">
               <i class="fas fa-search"></i>
             </button>
      

        <p><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
        <nav>
              
            <ul> 
                <li><a href="http://">Ofertas</a></li>
                <li><a href="http://">Tiendas Oficiales</a></li>
                <li><a href="http://">Vender</a></li>
                <li><a href="http://">Ayuda</a></li>
  
            </ul>

            <ul> 
                <li><a href="http://">Creá tu cuenta <i class="fas fa-credit-card"></i>
                </a></li>
                <li><a href="http://">Ingresá <i class="fas fa-sign-in-alt "></i></a></li>
                <li><a href="http://">Mis compras <i class="fas fa-shopping-basket "></i></a></li>

            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
            
    </header>
    <!-- BANNER -->
    <div width="100%" class="banner">
        <img src="/img/img-home-banner.jpg" alt="banner">
    </div>
    <!-- SECTION PRINCIPAL -->
    <main >
        <section class="contenido wrapper">
            <article class="card">
                <div>
                    <h3>visitado reciente</h3>
                </div>
                <img width="100%" src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div class="card-content">
                    <div class="icono-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <h3>$6.770</h3>
                    <h3>40% OFF</h3>
                    <h6>Cafetera Moulinex</h6>        
                </div>
            </article>
            <article class="card">
                <img width="100%" src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <div class="card-content">
                    <div class="icono-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <h3>$230.000</h3>
                    <h3>20% OFF</h3>
                    <h3>MacBook Pro 2019</h3>
                </div>

            </article>
            <article class="card">
                <img width="100%" src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"></img>
                <div class="card-content">
                    <div class="icono-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <h3>$70.500</h3>
                    <h3>10% OFF</h3>
                    <h3>Samsung Galaxy s10</h3>
                </div>
    
            </article>
            <article class="card">
                <img width="100%" src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"></img>
                <div class="card-content">
                    <div class="icono-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <h3>$23.200</h3>
                    <h3>5% OFF</h3>
                    <h3>Smart Tv Samgsung 43"</h3>   
                </div>
            </article>
        </section>

        <!-- SECTION OFERTAS -->
        <section id="ofertas">
            <h2>Ofertas</h2>
            <article>
                <img width="100%" src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <h3>$6.770</h3>
                <h3>40% OFF</h3>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img width="100%" src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <h3>$230.000</h3>
                <h3>20% OFF</h3>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img width="100%" src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"></img>
                <h3>$70.500</h3>
                <h3>10% OFF</h3>
                <h3>Samsung Galaxy s10</h3>    
            </article>
            <article>
                <img width="100%" src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"></img>
                <h3>$23.200</h3>
                <h3>5% OFF</h3>
                <h3>Smart Tv Samgsung 43"</h3>   
            </article>        
        </section>

    </main>
    <footer class="footer-items">
        <div>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo </h3>
            <p>con MercadoLiebreCash tenés cuotas sin 
                interés con tarjeta o efectivo en puntos de
                pago.¡Y siempre es seguro!
            </p>
        </div>
        <div>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde los $2.500</h3>
            <p>Solo por estar registrad@ en MercadoLiebre.
                tenés envíos en miles de productos.
                un beneficio de MercadoPuntos.
            </p>
        </div>
        <div>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad de principio a fin </h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre
                no hay nada que no puedas hacer porque
                estas siempre protegid@.
            </p>
        </div>

        <p>Copyright c 1999-2021 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>