<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/stylos.css">
</head>
<body>
    
    <header>
        <nav>
            
            
           
            <ul>
                <li><img src="/img/logo-mercado-liebre.svg" alt="Logo ML" id="logo"></li>
                <li><a href="http://">Ofertas</a></li>
                <li><a href="http://">Tiendas Oficiales</a></li>
                <li><a href="http://">Vender</a></li>
                <li><a href="http://">Ayuda</a></li>

                <li><a href="http://">Creá tu cuenta</a></li>
                <li><a href="http://">Ingresá</a></li>
                <li><a href="http://">Mis compras</a></li>
                <li><p class="barra">Lugar para poner barra de busqueda</p></li>
            </ul>
            
        </nav>
    </header>
    <main >
        <section class="contenido wrapper">
            
            <article>
                <div>
                    <h3>visitado reciente</h3>
                </div>
                <img src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <h3>$6.770</h3>
                <h3>40% OFF</h3>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <h3>$230.000</h3>
                <h3>20% OFF</h3>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"></img>
                <h3>$70.500</h3>
                <h3>10% OFF</h3>
                <h3>Samsung Galaxy s10</h3>    
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"></img>
                <h3>$23.200</h3>
                <h3>5% OFF</h3>
                <h3>Smart Tv Samgsung 43"</h3>   
            </article>
        </section>
        <section id="ofertas">
            <h2>Ofertas</h2>
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <h3>$6.770</h3>
                <h3>40% OFF</h3>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <h3>$230.000</h3>
                <h3>20% OFF</h3>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10"></img>
                <h3>$70.500</h3>
                <h3>10% OFF</h3>
                <h3>Samsung Galaxy s10</h3>    
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"></img>
                <h3>$23.200</h3>
                <h3>5% OFF</h3>
                <h3>Smart Tv Samgsung 43"</h3>   
            </article>        
        </section>

    </main>
    <footer>

    </footer>
</body>
</html>