:root {
  /* Colores */
  --color-Amarillo: #EAC926;
  --color-Azul: #03264C;
  --color-Celeste: #1259c3;
  --color-Gris-oscuro: #666;
  --color-Gris-claro: #ebebeb;
  --color-Verde: #39b54a;
  --color-amarillo : rgba(247, 243, 18, 0.9);
  /*  FUEnTES */
  --font-roboto : 'roboto', sans-serif;
  /* Tamaño de fuentes */
  --paragraph : 12px;
  --tittle : 24px;
  --prices : 18px;
  --discounts-descriptions: 16px;
}

/* ************* */
/*  GENERAL */

.margin-left-15 {
  margin-left: 15px;
}


* {
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: black;
}

body{
  font-family: var(--font-roboto);
  background-color: var(--color-Gris-claro);
}

ul {
  display: list-item;
  list-style: none;
  
}
/* ************** */
/* HEADER */

header .burger-menu {
  text-align: center;
  background-color:var(--color-Celeste);
  padding: 5px;
  width: 15px;
  color:var(--color-Gris-claro);
  border-radius: 5px;
  margin: 10px auto 0px auto;

}

.burger-menu{
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: var(--color-amarillo);
  font-size: var(--paragraph);
  color: var(--color-Gris-oscuro);
  padding: 10px;
}
header .logo {
  width: 130px;
  margin-left: 25px;
  padding-top: 25px;
  margin-bottom: 10px;
}

header p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
/* NAV */
nav{
  display: none;
}
/* header ul li a{
  color: rgb(12, 11, 11);
} */

#top-list {
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  font-size: var(--discounts-descriptions);
  padding: 5px;
}
footer div i{
  color: var(--color-Celeste);

}

footer div{
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
}
/* BANNER */
.banner{
  display: none;
}
/* MAIN */

main{
  width: 90%;
  margin: 0 auto;
}
/* SEARCH BAR */
.search-bar{
  display: inline;
}

/* CARD */
.card{
  margin-bottom: 10px;
  background-color: white;
}

.card .card-content{
  border-top: var(--color-Gris-claro);
  padding: 15px;
}

.card .card-content h6{
  display: none;
}

.card .card-content .icono-truck{
  border: 1px solid var(--color-Verde);
  border-radius: 50%;
  width: fit-content;
  padding: 10px;
}
.card .card-content .icono-truck i {
  color: var(--color-Verde);
}


/* Media Queries */
/* TABLET */
@media screen and (min-width: 361px){
  .card{
    box-shadow: 0px 0px 10px rgba(100, 100, 100, .8) ;
  }
  .card .card-content h6{
    display: block;
  }
  nav{
    display: block;
  }
  .burger-menu{
    display: none;
  }
}

/* DESKTOP */
@media screen and (min-width: 769px){

 

}